table {
    border-collapse: collapse;
    border-spacing: 0px;
  }
  table,
  th,
  td {
    padding: 5px;
    border: 1px solid black;
    text-align: center;
  }

  i#icon_move {
    margin-right: 80px;
}